@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-color: #ff8f00;
  --border-color: #ffa42cdf;
  --para-color: #a7a7a8;
  --bg-color: #000000e7;
  --h-font: "Ubuntu", sans-serif;
  --p-font: "Roboto", sans-serif;
  --hover: #ffffff;
  --white: #ffffff;
  --black: #2222;
}
body {
  background-color: var(--bg-color);
  transition: all 0.3s;
}
.dark {
  background-color: var(--bg-color);
}
.light {
  background-color: var(--white);
  color: var(--black);
}

.darkbtn {
  border: 0px solid var(--main-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  /* background-color: transparent; */
  color: var(--main-color);
  font-family: var(--h-font);
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.darkbtn img {
  height: 100%;
}
/* title style  */
.title-head {
  text-align: center;
  font-family: var(--h-font);
  color: var(--main-color);
  margin: 2.5rem 0;
}
.title-head h1 {
  font-size: 1.7rem;
}
/* .navbar {
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
} */
.container .navbar .container-fluid .logo img {
  width: 40px;
  object-fit: cover;
}

.navbar {
  position: fixed;
  z-index: 999;

  width: 85.3%;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0.2rem 1.5rem;
}
@media (max-width: 500px) {
  .navbar {
    width: 100% !important;
    margin: 0;
  }
}
.navbar-nav {
  display: flex;
  justify-content: end;
}
.navbar-nav a {
  color: var(--main-color);
  font-family: var(--h-font);
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  margin: 0 0.3rem;
  /* width: 100px; */
  text-align: center;
  transition: all 0.3s;
  padding: 0.5rem 1rem;
}
.navbar-nav a:hover {
  color: var(--hover);
  box-shadow: 1px 1px 5px var(--main-color);
}
.navbar-toggler {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.navbar-toggler-icon {
  color: var(--main-color);
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .navbar-nav a {
    width: 100%;
    margin: 0.2rem 0;
    text-align: start;
    padding: 0.7rem 1rem;
  }
}
@media (max-width: 992px) {
  .slide-container {
    min-height: 40vh !important;
  }
}
/* slide section  */
.slide-container {
  width: 100%;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
}
.slide-container .slide-card {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
  position: absolute;
}
.slide-container .active-fade {
  opacity: 1;
}
.slide-container .slide-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* control-slide  */
.control-slide {
  position: absolute;
  top: 40%;
  bottom: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.control-slide button {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  background-color: transparent;
}
.control-slide button:hover {
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 5px var(--border-color);
}
.control-slide button i {
  color: var(--main-color);
  font-size: 2rem;
}

/* about section  */
.container .about-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}
.container .about-card .about-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
}
.about-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-card .about-content {
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.about-card .about-content p {
  margin: 1.3rem 0;
  color: var(--para-color);
  font-family: var(--p-font);
  font-size: 1rem;
  word-spacing: 0.1rem;
  line-height: 1.8rem;
}
.about-card .about-content h2 {
  font-family: var(--h-font);
  margin-bottom: 1.5rem;
  color: var(--main-color);
}
.about-card .about-content h3 {
  font-family: var(--h-font);
  color: var(--para-color);
  display: flex;
  gap: 1.2rem;
  font-size: 1rem;
}
.about-card .about-content span::first-letter {
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: bold;
}
/* Our Branches  */
/* .Our-Branch .card {
  border: 1px solid var(--border-color);
  cursor: pointer;
} */
.Our-Branch .branch-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  transition: all 0.3s;
}
.Our-Branch .branch-cards:hover {
  cursor: pointer;
}
.Our-Branch h5 {
  font-family: var(--h-font);
}
.Our-Branch .card p {
  color: var(--para-color);
  display: none;
}
/* .Our-Branch .container .card:hover p {
  display: block;
  transition: all 0.3s;
} */
.Our-Branch .card .card-title {
  color: var(--main-color);
}
/* service section  */
.service .container .container-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.service .container .card {
  border: 1px solid var(--border-color);
}

.service .container .card h4 {
  color: var(--main-color);
  font-family: var(--h-font);
}
.service .container .card-body p {
  color: var(--para-color);
  font-family: var(--p-font);
}
/* Dynamic value  */
.dynamic-value {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  /* padding: 2rem 0; */
}
.dynamic-value img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.dynamic-value h3 {
  color: var(--white);
  font-family: var(--h-font);
}
.dynamic-value span {
  color: var(--main-color);
  font-weight: bold;
}
.dynamic-value .dynamic-details {
  color: var(--para-color);
}
.dynamic-value .dynamic-details h4::first-letter {
  color: var(--main-color);
}
.dynamic-value .dynamic-details p {
  font-family: var(--p-font);
}
/* BOD  */
.bod .container p {
  font-family: var(--p-font);
  color: var(--para-color);
}
.bod .bod-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 3.2rem;
  padding: 1rem 0;
}
.bod .bod-card img {
  object-fit: cover;
  object-position: center 5%;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}
.bod-card span {
  text-align: center;
  font-family: var(--h-font);
  color: var(--main-color);
  display: block;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}
