@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-color: #ff8f00;
  --border-color: #ffa42cdf;
  --para-color: #a7a7a8;
  --bg-color: #000000e7;
  --h-font: "Ubuntu", sans-serif;
  --p-font: "Roboto", sans-serif;
  --hover: #ffffff;
  --white: #ffffff;
  --black: #000000e7;
}
nav {
  margin-top: 0.5rem;
  width: 100%;
  position: sticky;
  bottom: 0;
}
nav .menu-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.3rem;
  padding: 0.5rem;
}
nav .menu-links button {
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  color: var(--black);
  font-weight: bold;
  font-family: var(--h-font);
}

/* slider */
.menu-container-1 {
  width: 100%;
  height: 85vh;
  border: 0px solid var(--border-color);
  overflow: hidden;
  position: relative;
  box-shadow: inset 1px 1px 5px var(--black);
  border-radius: 0.2rem;
}
.menu-container-2 {
  width: 100%;
  height: 85vh;
  border: 0px solid var(--border-color);
  overflow: hidden;
  position: relative;
  box-shadow: inset 1px 1px 5px var(--black);
  border-radius: 0.2rem;
}
.menu-container-3 {
  width: 100%;
  height: 85vh;
  border: 0px solid var(--border-color);
  overflow: hidden;
  position: relative;
  box-shadow: inset 1px 1px 5px var(--black);
  border-radius: 0.2rem;
}
.menu-container-4 {
  width: 100%;
  height: 85vh;
  border: 0px solid var(--border-color);
  overflow: hidden;
  position: relative;
  box-shadow: inset 1px 1px 5px var(--black);
  border-radius: 0.2rem;
}
.menu-container-card {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
  position: absolute;
}
.menu-container-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center 50%;
}
@media (max-width: 500px) {
  .menu-container-1 {
    width: 100%;
    height: 75vh;
  }
  .menu-container-2 {
    width: 100%;
    height: 75vh;
  }
  .menu-container-3 {
    width: 100%;
    height: 75vh;
  }
  .menu-container-4 {
    width: 100%;
    height: 75vh;
  }
  .menu-container-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 50%;
  }
}

.container .active-first {
  opacity: 1;
}
/* btn-container */
.btn-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0%;
}
.btn-container button {
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  font-family: var(--h-font);
  /* background-color: transparent; */
  font-weight: bold;
  color: var(--main-color);
  transition: all 0.3s;
}
.btn-container button:hover {
  background-color: var(--main-color);
  color: var(--black);
}
#dt-card {
  display: block;
  transition: all 0.3s;
}
#thai47 {
  background-color: var(--border-color);
}
#ch-card {
  display: none;
  transition: all 0.3s;
}
#bu-card {
  display: none;
  transition: all 0.3s;
}
#ot-card {
  display: none;
  transition: all 0.3s;
}
